RESULTS_URL: url/to/results/app
RESULTS_USER: user@example.com
RESULTS_PASSWORD: password

staging:
  DATABASE_URL: path/to/database/in/staging
  HOST: path/to/app/in/staging

development:
  DATABASE_URL: path/to/database/in/development
  HOST: path/to/app/in/development
