RESULTS_URL: url/to/results/app
RESULTS_USER: user@example.com
RESULTS_PASSWORD: password

production:
  DATABASE_URL: path/to/database/in/production
  HOST: path/to/app/in/production

development:
  DATABASE_URL: path/to/database/in/development
  HOST: path/to/app/in/development
